*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-balance{
    border: 1px solid #a4a4a4;
    width: 400px;
}
.date-input{
    border-bottom: 1px solid #33c033;
    margin-left: 10px;
    width: 350px;
}
.icons{
    font-size: 25px;
}
.label-date{
    margin-left: 35px;
    font-size: 10px;
    color: #838383;
}
.btn-add{
    margin-left: auto;
    display: block;
}